<main role="main" id="main">
<div class="row full-post">
  {{#if reportSubmitted}}
    Thank you for submitting your report.
  {{else}}

    <div class="two columns"></div>
    <div class="eight columns">
      {{#link-to "index" class="home-link button"}}
        &lt; FLOWERPOT
      {{/link-to}}

      <article>
        <div class="header">
          <h3 class="post-title">{{model.title}}</h3>
          <span class="report-post-abuse">{{report-abuse model=model createReport="createReport"}}</span>
        </div>


        <div class="warning-note">
          <span>Content note:</span>
          <p>
            {{model.note}}
          </p>
          <button class="button button-decode button-primary" {{action 'decodeMe'}} disabled={{isDecoded}}>Display Content</button>
        </div>

        <div class='post-content' style='display:none'>{{{visibleContent}}}</div>
      </article>
    </div>

  {{/if}}
</div>
</main>
