{{#if reportSubmitted}}
  Thank you for submitting your report.
{{else}}
 
  <h3 class="post-title">{{model.title}}</h3>
  
<h4 class="warnings-title">Content warnings:</h4>
    <span class='warning-note'>{{model.note}}</span>
 
  <div class="row">
    <div class="three columns">
      <button class="button button-decode" {{action 'decodeMe'}} disabled={{isDecoded}}>Decode Content</button>
      {{report-abuse model=model createReport="createReport"}}
    </div>
    <div class="nine columns">
      <article class='full-post'>{{{visibleContent}}}</article>
    </div>
  </div> 
  
{{/if}}
