<div class="column">
 <div class="row">
  {{#if reportSubmitted}}
  Thank you for submitting your report.
{{else}}


  <div class="two columns"> </div>
  <div class="eight columns">
    <h3 class="post-title">{{model.title}} <span class='warning-note'>{{model.note}}</span></h3>
  <p>{{report-abuse model=model createReport="createReport"}}</p>

    <div class="post-box">
      <article class='full-post' style='position:absolute;display:none'>{{{visibleContent}}}</article>
      <button class="button button-decode" {{action 'decodeMe'}} disabled={{isDecoded}} style="color:black;height:250px">Click here to diplay the post content if you're happy with the content note above</button>
    </div>
  </div>

{{/if}}
  </div>
</div>
