<main role="main" id="main">
<div class="row full-post">
  {{#if reportSubmitted}}
    Thank you for submitting your report.
  {{else}}

    <div class="two columns"></div>
    <div class="eight columns">

      <article>
        <div class="header">
          {{#link-to "index" class=""}}
            Back to Flowerpot
          {{/link-to}} or {{link-to "create your own post" 'posts.new'}}
          <h3 class="post-title">{{model.title}}</h3>
          <span class="report-post-abuse">{{report-abuse model=model createReport="createReport"}}</span>
        </div>


        <div class="warning-note">
          <strong>Content warning note:</strong>
          <p>
            {{model.note}}
          </p>
          <button class="button button-decode button-primary" {{action 'decodeMe'}} disabled={{isDecoded}}>Display Content</button>
        </div>

        <div class='post-content' style='display:none'>{{{visibleContent}}}</div>
      </article>
    </div>

  {{/if}}
</div>
</main>
