{{#if reportSubmitted}}
  Thank you for submitting your report.
{{else}}
  <p id='title'>{{model.title}} {{report-abuse model=model createReport=(action "createReport")}}</p>
  <p>This post has the following content note attached, please only proceed with decoding if you're ok with this</p>
  <p><span id='note'>{{model.note}}</span></p>
  <button class="button-primary" id='decode' {{action 'decodeMe'}} disabled={{isDecoded}}>Decode the content please</button>
  <p id='post'>{{{visibleContent}}}</p>
{{/if}}
