<div class="column">
 <div class="row">
  {{#if reportSubmitted}}
  Thank you for submitting your report.
{{else}}
 
   
  <div class="two columns"> </div>
  <div class="eight columns">
    <h3 class="post-title">{{model.title}} <span class='warning-note'>{{model.note}}</span></h3>
  <p>{{report-abuse model=model createReport="createReport"}}</p>
 
    
      <button class="button button-decode" {{action 'decodeMe'}} disabled={{isDecoded}}>Decode Content</button>

      <article class='full-post'>{{{visibleContent}}}</article>
  </div>
  
{{/if}}
  </div>
</div>