{{partial 'otherHeader'}}

{{outlet}}
<form>
  <label>title: {{input class='title' value=model.title}} </label>
  <label>warning note: {{input class='note' value=model.note}} </label>
  <label>content: <br> {{textarea class='content' value=model.content}} </label>
  <button class="submit button-primary" {{action 'submitTheThing' model}}>submit</button>
</form>
