{{partial 'otherHeader'}}

{{outlet}}
{{#if session.isAuthenticated}}
  Logged in as {{session.currentUser.displayName}}
  <button {{action "signOut"}}>Sign out</button>
{{else if features.useFirebase}}
  <button {{action "signIn" "twitter"}}>Sign in with Twitter</button>
{{/if}}

<p>abuse reports</p>
<table>
  <thead><th>abuse context</th><th>post title</th><th>report timestamp</th></thead>
  <tbody>
    {{#each unreviewedReports as |foo|}}
      <tr>
        <td>{{foo.extraContext}}</td>
        <td>{{#link-to 'post' foo.post}}{{foo.post.title}}{{/link-to}}
          <button {{action "whitelist" foo}} class='button-whitelist'>whitelist this post</button></td>
        <td>{{moment-format foo.timestamp}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
