<div class={{classForCurrentPath}}>
<span class="global-warning">
This site is likely to contain upsetting content; please exercise caution and self-care as a priority. Please <a href="mailto:abuse@flowerpot.fyi">report abuse</a> if you encounter it.
</span>

<div class="container">
    <div class="row">
        {{outlet}}
    </div>
</div>

<footer>
  <div class="container">
    <div class="row" id="info">
      <div class="one-half column">
        <h4>Want to know more?</h4>
        <p>If you'd like to learn more about Flowerpot, there's more info in the {{link-to "FAQ" "mdContent" "questions"}},  {{link-to "Code of Conduct" "mdContent" "code-of-conduct" class=""}}, and {{link-to "Privacy" "mdContent" "privacy" class=""}} sections.</p>

        <p>For the development-inclined, our Github repo is located <a href="https://github.com/ibroadfo/flowerpot">here</a>, and we have a {{link-to "Getting Started Guide" "mdContent" "getting-started" class=""}} also.</p>

        <p> [ {{link-to 'admin' 'admin'}} ] </p>
      </div>
      <div class="one-half column">

         <h4>Questions?</h4>
         <p>Please do <a href="mailto:flowerpot@flowerpot.fyi">get in touch</a> if you have a question that's gone unanswered, or if you want to contribute but don't feel comfortable with Github. We're here to help.</p>

         <h4>Abuse</h4>
         <p>We take abuse very seriously. Individual posts can be reported directly using the 'report abuse' link on their page, or you can <a href="mailto:abuse@flowerpot.fyi">contact us by email</a>.</p>
      </div>
    </div>
  </div>
</footer>
</div>
