<div class="container">

  <div class="row"><span class="global-warning">
    this site is likely to contain content that you may want to avoid; please exercise caution and self-care as a priority</span>
  </div>
  <div class="row">
    <h1>
        {{#link-to "index"}}
          Flowerpot
        {{/link-to}}
        <a href="#what" id="about-link">(flower-what?)</a>
      </h1>

        {{#link-to "index" class="button"}}
          introduction
        {{/link-to}}

      {{link-to "new post" 'posts.new' class="button"}}
      {{#if showIndex.showIndex}}
        {{link-to "list of posts (beta only)" "posts.index" class="button"}}
      {{/if}}
      {{link-to "questions" "mdContent" "questions" class="button"}}
      {{link-to "technical questions" "mdContent" "technical-questions"  class="button"}}
      {{link-to "Code of Conduct" "mdContent" "code-of-conduct" class="button"}}
      {{link-to "Privacy" "mdContent" "privacy" class="button"}}
      {{link-to "Getting Started (technical)" "mdContent" "getting-started" class="button"}}
      {{link-to 'admin' 'admin'}}

    </div>
    <div class="row">

      <div class="column six" id="what">
        {{outlet}}
      </div>
    </div>
</div>
