<span class="global-warning">
This site is likely to contain upsetting content; please exercise caution and self-care as a priority. Please {{report-abuse model=model createReport="createReport"}} if you encounter it.
</span>

<div class="container">
    <div class="row">
      <div class="column">
        {{outlet}}
      </div>
    </div>
</div>

<footer>
  <div class="container">
    <div class="row" id="info">
      <div class="one-half column">
        <h4>Want to know more?</h4>
        <p>If you'd like to learn more about Flowerpot, there's more info in the {{link-to "FAQ" "mdContent" "questions"}},  {{link-to "Code of Conduct" "mdContent" "code-of-conduct" class=""}}, and {{link-to "Privacy" "mdContent" "privacy" class=""}} sections.</p>

        <p>We also have a {{link-to "Technical FAQ" "mdContent" "technical-questions"}} as well as a {{link-to "Getting Started Guide" "mdContent" "getting-started" class=""}}. For the development-inclined, our Github repo is located <a href="https://github.com/ibroadfo/flowerpot">here</a>.</p>
           </div>
      <div class="one-half column">

           <h4>Questions? Abuse?</h4>
           <p>Please do <a href="mailto:flowerpot@flowerpot.fyi">get in touch</a> if someone is misusing Flowerpot, if you have a question that's gone unanswered, or if you want to contribute but don't feel comfortable with Github. We're here to help.</p>

          <p> [ {{link-to 'admin' 'admin'}} ] </p>
      </div>
    </div>
  </div>
</footer>
