

  <span class="global-warning">
    This site is likely to contain content that you may want to avoid; please exercise caution and self-care as a priority.
    [ {{link-to 'admin' 'admin'}} ]
    </span>
    
<header>
    <div class="container">
    <div class="row">
    <h1>
        {{#link-to "index"}}
          Flowerpot
        {{/link-to}}
        
      </h1>
      <h2>An app for safe content sharing.</h2>

      {{link-to "Create New Pot" 'posts.new' class="button create-new"}}
      {{#if showIndex.showIndex}}
        {{link-to "list of posts (beta only)" "posts.index" class="button"}}
      {{/if}}

    </div>
  </div>
</header>
   
<div class="container">
    <div class="row">

      <div class="column">
        {{outlet}}
      </div>
    </div>
    
</div>

<footer>
  <div class="container">
    <div class="row" id="info">
      <div class="column six">
        <h4>More information</h4>
      {{link-to "FAQ" "mdContent" "questions"}}
      {{link-to "Code of Conduct" "mdContent" "code-of-conduct" class=""}}
      {{link-to "Privacy" "mdContent" "privacy" class=""}}
      </div>
      <div class="column six">
        <h4>Technical</h4>
      {{link-to "Technical FAQ" "mdContent" "technical-questions"}}
      {{link-to "Getting Started (technical)" "mdContent" "getting-started" class=""}}
      </div>
    </div>
  </div>
</footer>
