{{ember-load-remover}}
<div class={{classForCurrentPath}}>
<span class="global-warning">
This site is likely to contain upsetting content; please exercise caution and <a href="http://selfcare.tech">self-care</a> as a priority. Please <a href="mailto:abuse@flowerpot.fyi">report abuse</a> if you encounter it.
</span>

<div class="container">
    <div class="row">
        {{outlet}}
    </div>
</div>

<footer role="contentinfo">
  <div class="container">
    <div class="row" id="info">
      <p>
        {{link-to "About" "mdContent" "questions"}} | {{link-to "Getting Started" "mdContent" "getting-started"}} | {{link-to "Code of Conduct" "mdContent" "code-of-conduct" class=""}} | {{link-to "Privacy" "mdContent" "privacy" class=""}} | {{link-to "Contact Us" "mdContent" "contact-us"}} [ {{link-to 'admin' 'admin'}} ]
      </p>
    </div>
  </div>
</footer>
</div>
