<div class="container">
  <div class="row" ><span class="global-warning">
    this site is likely to contain content that you may want to avoid; please exercise caution and self-care as a priority</span>
  </div>
  <div class="row">
    <div class="one-half column">
      <h4>
        {{#link-to "index"}}
          <img src="/images/freedo-Plant-in-Pot-300px.png" style="height:100px">Flowerpot
        {{/link-to}}
      </h4>
    </div>
  </div>
  <div class="row">
    <p>
      {{link-to "new post" 'posts.new'}} |
      {{#if showIndex}}
        {{link-to "list of posts (beta only)" "posts.index"}} |
      {{/if}}
      {{link-to "questions" "mdContent" "questions"}} |
      {{link-to "technical questions" "mdContent" "technical-questions"}} |
      {{link-to "Code of Conduct" "mdContent" "code-of-conduct"}} |
      {{link-to "Privacy" "mdContent" "privacy"}} |
      {{link-to "Getting Started (technical)" "mdContent" "getting-started"}}

    </p>
  </div>

  <div class="row">
    <div class="one-half column">
      {{outlet}}
    </div>
  </div>
</div>
