<div class="container">
  <div class="row">
    <div class="one-half column">
      <h4>
        {{#link-to "index"}}
          <img src="/images/freedo-Plant-in-Pot-300px.png" style="height:100px">Flowerpot
        {{/link-to}}
      </h4>
    </div>
  </div>
  <div class="row">
    <p>
      {{link-to "new post" 'posts.new'}}
      {{#if showIndex.showIndex}}
        {{link-to "list of posts" "posts.index"}}
      {{/if}}
      {{link-to "questions" "questions"}}
      {{link-to "technical-questions" "technical-questions"}}
    </p>
  </div>

  <div class="row">
    <div class="one-half column">
      {{outlet}}
    </div>
  </div>
</div>
