
  <div class="container">
    <div class="row">
     <div class="one columns"></div>
     <div class="ten columns">

       <header role="banner">
      <h1>
        {{#link-to "index"}}
          Flowerpot <sup><small>(beta)</small></sup>
        {{/link-to}}
      </h1>
      <h2 class="subtitle">Share content safely by scrambling it, adding warning notes, and asking readers' consent.
        {{link-to "Read more" "mdContent" "questions"}}
      </h2>

      <nav role="navigation">
        {{link-to "Create post" 'posts.new' class="button create-new"}}
        {{link-to "See an Example" 'post' 'example' class="button"}}
        {{#if features.showIndex}}
          {{link-to "list of posts (beta only)" "posts.index" class="button"}}
        {{/if}}
      </nav>
</header>

<main role="main" id="main">
  <div id="psa">
    <h5>Only for good, never for evil</h5>
    <p> Flowerpot was created to ensure readers’ safety. All users are expected
      to follow our (hopefully) comprehensive
      {{link-to "Code of Conduct" "mdContent" "code-of-conduct"}}. Abusive content
        will be removed.</p>
    <p>Report abuse by using the ‘report abuse’ link on the post's page, or
      {{link-to "contact us directly" "mdContent" "contact-us"}}.</p>
  </div>

  <h4>Want to contribute?</h4>
  <p>Awesome! Head on over to <a href="https://github.com/ibroadfo/flowerpot">our Github repo</a>!</p>
  <p>If you're not comfortable with Github, we have a
    {{link-to "Getting Started guide" "mdContent" "getting-started" class=""}}.
    We also encourage you to
    {{link-to "get in touch" "mdContent" "contact-us"}}! We’re happy to help you get started. </p>
</main>

</div>
</div>
</div>
